<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'></link>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by MeghrajFalle. It used data from <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">mapbox.com</a> and <a href="https://weatherstack.com/" target="_blank" rel="noopener noreferrer">weatherstack.com</a></p>
        <img class='portrait' src="/img/profile_hd.png">
    </div>

    {{>footer}}
</body>

</html>