<footer>
    <p> Created by {{name}}. All Right Reserved 2021.</p>
    <p> Connect with me on <a href="https://www.linkedin.com/in/meghrajfalle/" target="_blank" rel="noopener noreferrer">Linkedin</a> or email me at meghrajfalle@gmail.com</p>
</footer>
